h3{
    font-size:25px !important;
}

.btn-success:hover{
    background-color: rgb(187, 0, 0);
}

@keyframes anime{
    from{
        box-shadow: 1px 1px 38px rgb(0, 119, 192);
    }
    to{
        box-shadow: 1px 1px 38px rgb(1, 136, 39);
    }
    
}
canvas{
    animation-name:anime ;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    margin-top: 30px;
}